<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Capstone - National Park Service</title>
    <!-- StyleSheets-->
    <link rel="stylesheet" type="text/css" href="~/Content/semantic.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/geek.ico" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="~/Content/semantic.min.js"></script>
    <script src="~/Content/semantic.js"></script>
    <!-- StyleSheets
        -->

    <link rel="stylesheet" href="~/Content/Solar_Bootstrap.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
@{
    string currenUrl = HttpContext.Current.Request.Url.AbsolutePath;
    string activateParkClass = String.Empty;
    string activateSurveyClass = String.Empty;
}
<body>
    <div class="ui  container  segment " id="example1">
        <div class="ui sticky" style="width: 272.005px !important; height: 262.031px !important; left: 1194.74px;">
            <div class="ui inverted segment ">
                <div class="ui inverted secondary pointing menu">
                    @if (currenUrl == "/Home/ParkList") { activateParkClass = "active"; }
                    <a href="@Url.Action("ParkList", "Home")" class="item @activateParkClass">
                        National Parks
                    </a>
                    @if (currenUrl == "/Survey/SurveyList") { activateSurveyClass = "active"; }
                    <a class="item  @activateSurveyClass" href="@Url.Action( "SurveyList", "Survey")">Survey</a>
                    <a class="item" href="@Url.Action( "About", "About")">
                        About
                    </a>
                    <div class="ui large images"style="padding-left:120px;">
                            <img src="~/Content/logo.png" />
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()
        <footer>
            <p style="text-align:center;">&copy; 2017 - @DateTime.Now.Year - National Park Weather Service Application</p>
            <div>
                @RenderSection("AfterCopyright", false)
            </div>
        </footer>
    </div>
    <script>
        $('.ui.modal')
            .modal('show')
            ;

        $('.ui.sticky')
            .sticky({
                context: '#example1'
            })
            ;</script>
</body>
</html>
