@using Capstone.Web.Models;
@model Park

@{
    ViewBag.Title = "ParkDetails";
}

@*2. As a user of the system, I need the ability select a park and view additional details
     about the selected park. All detail described in the Park Data Source needs to be displayed.*@
<div class="row">
    <h2>@Model.ParkName</h2>

    <div class="col-md-6">
        @{string imagePath = Model.ParkCode.ToLower() + ".jpg";}
        <img src="~/Content/Assets/@imagePath" alt="park image" /><br />
    </div>
    <div class="col-md-6" style="margin-left:0px;">
        <p>
            <ul>
                <li>Founded on @Model.YearFounded.ToString("N") in @Model.State</li>
                <li>@Model.ElevationInFeet Feet above sea level</li>
                <li>@Model.Acreage.ToString("N") Total Acres</li>
                <li>@Model.NumberOfAnimalSpecies.ToString("N") Species</li>
                <li>@Model.AnnualVisitorCount.ToString("N") Annual Visitors</li>
                <li>@Model.EntryFee.ToString("C") Entry Fee</li>
            </ul> <br />
        </p>
    </div>
    <p><q>@Model.InspirationalQuote</q><span style="font-size:0.7em"> --@Model.InspirationalQuoteSource </span></p>
</div>

@*As a user of the system, once I select a park for viewing I have a way of viewing its 5-day
    weather forecast. Each daily forecast should provide a recommendation so that the
    user knows how to prepare for the weather appropriately.*@
<div class="jumbotron">
    <h3>
        <a href='@Url.Action("Weather", "Home", new { id = Model.ParkCode })'>
            5 Day Weather Forecast
        </a>
    </h3>
</div>