@using Capstone.Web.Models;
@model List<Park>
@{
    ViewBag.Title = "ParkList";
}

@*a. The home page should only show a picture of the park, its name, location, and a short summary,*@

@foreach (var park in Model)
{
    <div class="ui stacked tertiary segment">
        <div style="min-height:450px;">
            <div class="ui black inverted segment">
                <h4 style="text-align:center"> @park.ParkName </h4>
            </div>
            <div style="float:left;">
                <div class="ui fluid image">
                    <div class="ui brown ribbon label">
                        <a href='@Url.Action("ParkDetails", "Home", new { id = park.ParkCode })'>See detail</a>
                    </div>
                    @{string imagePath = park.ParkCode.ToLower() + ".jpg";}
                    <a href='@Url.Action("ParkDetails", "Home", new { id = park.ParkCode })'>
                        <img src="~/Content/Assets/@imagePath" alt="parkimage" />
                    </a>
                    <h3 style="text-align:center;">@park.State</h3>
                </div>
            </div>
            <div style="display:inline-block; width:450px;margin-left:30px;vertical-align:top; color:black; font-size: 1.6em;">
                <br />
                <p>@park.ParkDescription</p>
            </div>
        </div>
        <hr />
    </div>
}


